.intro {
    background-color: $main-color;
    padding-top: 30px;
    &__tablinks {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
        text-align: center;
        @media(max-width: 991px) {
            text-align: center;
            font-size: 14px;
        }
        @media(max-width: 767px) {
            font-size: 12px;            
        }
        @media(max-width: 575px) {
            justify-content: center;
            flex-wrap: wrap;           
        }
    }
    &__tablink {
        text-decoration: none;
        color: #fff;
        padding: 10px 15px;            
        transition: .3s all;
        cursor: pointer;
        @media(max-width: 767px) {
            padding: 10px 10px;
        }
        &:hover, &:focus {
            color: #000;
            background-color: #fff;
        }
        &_active {
            color: #000;
            background-color: #fff;
        }
    }
    &__tab-content {
        margin-top: 30px;
        
        &-elem {
            display: none;
            transition: .5s all;
            animation: fadeIn 1s;
        }
        &_active {
            display: block;
        }
        
    }
    &__swiper {
        position: relative;
        width: 1295px;
        height: 590px;
        &-slide {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media(max-width: 575px) {
                flex-direction: column;           
            }
            &-text {
                width: 400px;
                color: #fff;
                @media(max-width: 1399px) {
                    width: 230px;  
                }
                @media(max-width: 575px) {
                    width: 100%; 
                    margin-bottom: 50px;          
                }
                &-btn {
                    background-color: $secondary-color;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 18px;
                    padding: 13px 25px;
                    margin: 40px 0 0 0;
                    border: none;
                    cursor: pointer;
                    @media(max-width: 1399px) {
                        display: block;
                        font-size: 14px;
                        margin: 40px auto 0 auto;
                    }
                    @media(max-width: 991px) {
                        font-size: 12px;
                    }
                    @media(max-width: 767px) {
                       margin: 15px auto 0 auto;            
                    }
                    &:hover {
                        background-color: darken($secondary-color, 5%);
                    }
                }
                &-title {
                    font-size: 48px;
                    @media(max-width: 1399px) {
                        font-size: 34px;
                        text-align: center;
                    }
                    @media(max-width: 991px) {
                        font-size: 26px;
                    }
                    @media(max-width: 767px) {
                        font-size: 17px;
                        margin: 0 0 5px 0;            
                    }
                }
                &-content {
                    font-size: 14px;
                    line-height: 21px;
                    @media(max-width: 1399px) {
                        text-align: center;
                    }
                    @media(max-width: 991px) {
                        padding: 5px;
                    }
                    @media(max-width: 767px) {
                        font-size: 12px;            
                    }
                }
            }
            &-image {
                display: flex;
                width: 746px;
                height: 533px;
                @media(max-width: 1399px) {
                    width: 700px;  
                }
                @media(max-width: 991px) {
                    width: 510px;  
                }
                @media(max-width: 767px) {
                    width: 340px;
                    margin-bottom: 50px;            
                }
                @media(max-width: 575px) {
                    width: 100%;           
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        &-button {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 60px;
            top: unset;
            width: 60px;
            height: 50px;
            border: 1px solid #fff;
            cursor: pointer;
            &:hover {
                border-color: darken(#fff, 20%);
                span {
                    background-color: darken(#fff, 20%);
                }
            }
            span {
                position: relative;
                width: 30px;
                height: 1px;
                background-color: #fff;
                &::before {
                    content: '';
                    display: block;
                    height: 8px;
                    width: 1px;
                    background-color: #fff;
                    transform: rotate(-45deg);
                    position: absolute;
                    top: 0;
                    left: 3px;
                }
                &::after {
                    content: '';
                    display: block;
                    height: 8px;
                    width: 1px;
                    background-color: #fff;
                    transform: rotate(45deg);
                    position: absolute;
                    top: -7px;
                    left: 3px;
                }
                
            }
            &_prev {
                left: 371px;
                &::after {
                    content: '';
                }
            }
            &_next {
                left: 432px;
                transform: rotate(180deg);
                &::after {
                    content: '';
                }
            }
        }
    }
    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        .tab-active {
            background-color: darken($main-color, 5%);;
        }
    }
    &__link-item {
        flex-grow: 1;
        text-align: center;
        font-size: 21px;
        color: #fff;
        padding: 24px 0;
        background-color: $secondary-color;
        cursor: pointer;
        @media(max-width: 991px) {
            font-size: 18px;           
        }
        @media(max-width: 767px) {
            font-size: 16px;            
        }
        @media(max-width: 575px) {
            width: calc(100% / 3);
            display: flex;
            justify-content: center;
            align-items: center; 
            &:first-child {
                padding: 33px 0;
            } 
            &:nth-child(2) {
                padding: 33px 0;
            }  
            &:last-child {
                padding: 33px 0;
            }       
        }
        @media(max-width: 566px) {
            &:first-child {
                padding: 24px 0;
            }       
        }
        @media(max-width: 361px) {
            &:nth-child(2) {
                padding: 24px 0;
            }       
        }
        &:first-child {
            flex-grow: 2;
        }
        &:hover {
            transition: .3s all;
            background-color: darken($main-color, 5%);
        }
        
    }
}