.news {
    &__tab {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media(max-width: 575px) {
            flex-direction: column;     
        }
        &-head {
            color: #fff;
            margin-left: 40px;
            span {
                background-color: $secondary-color;
                padding: 10px 15px;
            }
            @media(max-width: 575px) {
                margin-bottom: 30px;     
            }
        }
        &-items {
            min-width: 526px;
            background-color: $main-color;
            padding-top: 35px;
            font-size: 18px;
            @media(max-width: 1399px) {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                min-width: 430px;
                height: 594px;
            }
            @media(max-width: 991px) {
                min-width: 300px;  
                font-size: 16px;   
                height: 636px;        
            }
            @media(max-width: 767px) {
                min-width: 230px; 
                height: 619px;  
                justify-content: space-between;          
            }
            @media(max-width: 575px) {
                height: unset;    
            }
        }
        &-item {            
            padding: 35px 40px;
            line-height: 27px;
            color: #fff;
            cursor: pointer;
            @media(max-width: 767px) {
                padding: 20px 20px;             
            }
            &:nth-child(2) {
                margin-top: 40px;
                @media(max-width: 767px) {
                    margin-top: 0;             
                }
            }
            &_active {
                background-color: $secondary-color;
            }
            &:hover {
                background-color: $secondary-color;
            }
        }
        &-contents {
            min-width: 770px;
            background-color: rgba($secondary-color, .1);
            @media(max-width: 1399px) {
                min-width: 530px;
            }
            @media(max-width: 991px) {
                min-width: 468px;             
            }
            @media(max-width: 767px) {
                min-width: 346px;             
            }
            @media(max-width: 575px) {
                min-width: 100%;     
            }
        }
        &-content {
            display: none;
            padding: 35px 60px 58px 60px;
            @media(max-width: 767px) {
                padding: 25px 25px 40px 40px;            
            }
            strong {
                font-size: 24px;
                @media(max-width: 991px) {
                    font-size: 18px;            
                }
                @media(max-width: 767px) {
                    font-size: 16px;            
                }
            }
            &-list {
                margin: 0;
                padding: 0;
                margin-top: 32px;
                li {
                    &::marker {
                        color: $secondary-color;
                    }
                }
            }
            &-elem {
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
                @media(max-width: 767px) {
                    font-size: 12px;            
                }
                &:nth-child(n):not(:last-child) {
                    margin-bottom: 20px;
                }
            }
            &_active {
                display: block;
            }
        }
    }
}