.offer {
    background: linear-gradient(to bottom, rgba($secondary-color, .1) 62%, #fff 38%);
    margin-top: 100px;
    @media(max-width: 1399px) {
        background: rgba($secondary-color, .1);
    }
    @media(max-width: 991px) {
        margin-top: 50px;            
    }
    @media(max-width: 767px) {
        margin-top: 30px;            
    }
    &__title {
        color: $secondary-color;
        font-size: 48px;
        text-align: center;
        padding-top: 80px;            
        margin: 0;           

        @media(max-width: 991px) {
            font-size: 36px;
            padding-top: 50px;            
        }
        @media(max-width: 767px) {
            font-size: 32px;
            padding-top: 25px;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 60px;
        @media(max-width: 1399px) {
            justify-content: center;
        }
        @media(max-width: 767px) {
            margin-top: 40px;
        }
        &-elem {
            position: relative;
            width: 306px;
            @media(max-width: 1399px) {
                &:nth-child(2n - 1) {
                    margin-right: 25px;
                }
                &:nth-child(-n + 2) {
                    margin-bottom: 25px;
                }
            }
            @media(max-width: 767px) {
                &:nth-child(2n - 1) {
                    margin-right: 0;
                }
                &:nth-child(-n + 2) {
                    margin-bottom: 0;
                }
                &:nth-child(n) {
                    margin-bottom: 20px;
                }
            }
            &-head {
                position: absolute;
                top: 30px;
                left: 30px;
                color: #fff;
                span {
                    background-color: $main-color;
                    padding: 10px 15px;
                }
            }
            &-img {
                width: 306px;
                height: 230px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-details {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $secondary-color;
                padding: 25px 30px;
                
                &:hover{
                    .offer__items-elem-details__btn {
                        border-color: darken(#fff, 30%);
                        i {
                            background-color: darken(#fff, 30%);
                            &::after {
                                background-color: darken(#fff, 30%);
                            }
                            &::before {
                                background-color: darken(#fff, 30%);
                            }
                        }
                    }
                    strong {
                        color: darken(#fff, 30%);
                    }
                }
                &__btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 40px;
                    border: 1px solid #fff;
                    cursor: pointer;
                    background-color: transparent;
                    i {
                        position: relative;
                        width: 20px;
                        height: 1px;
                        background-color: #fff;
                        &::after {
                            content: '';
                            height: 8px;
                            width: 1px;
                            background-color: #fff;
                            position: absolute;
                            top: -1px;
                            right: 2px;
                            transform: rotate(45deg);
                        }
                        &::before {
                            content: '';
                            height: 8px;
                            width: 1px;
                            background-color: #fff;
                            position: absolute;
                            top: -6px;
                            right: 2px;
                            transform: rotate(-45deg);
                        }
                    }
                }
                strong {
                    color: #fff;
                    font-size: 21px;
                    cursor: pointer;
                    @media(max-width: 991px) {
                        font-size: 18px;            
                    }
                }
            }
        }
    }
}